@using Demo.ApiClient.Models.ApiModels;

@if (CulturalEventRowItem is not null)
{
    <tr>
        @if (!isEditMode)
        {
            <td>@CulturalEventRowItem.Name</td>
            <td>@CulturalEventRowItem.Date</td>
            <td>@CulturalEventRowItem.Description</td>
            <td>@CulturalEventRowItem.SignedUp</td>
            <td>
                <a @onclick="() => isEditMode = true" href="javascript:void(0)">Edit</a>
                <a @onclick="async () => await OnDelete.InvokeAsync(CulturalEventRowItem.Id)" href="javascript:void(0)">Delete</a>
            </td>
        }
        else
        {
            <td>
                <input @bind="CulturalEventRowItem.Name" class="form-control" />
            </td>
            <td>
                <input @bind="CulturalEventRowItem.Date" type="date" class="form-control" />
            </td>
            <td>
                <input @bind="CulturalEventRowItem.Description" class="form-control" />
            </td>
            <td>
                <input @bind="CulturalEventRowItem.SignedUp" type="checkbox" class="form-check-input" />
            </td>
            <td>
                <a @onclick="Update" href="javascript:void(0)">Save</a>
                <a @onclick="() => isEditMode = false" href="javascript:void(0)">Cancel</a>
            </td>
        }
    </tr>
}

@code {
    [Parameter]
    public CulturalEvent? CulturalEventRowItem { get; set; }

    [Parameter]
    public EventCallback<CulturalEvent> OnEdit { get; set; }

    [Parameter]
    public EventCallback<int> OnDelete { get; set; }

    private bool isEditMode = false;

    private async Task Update()
    {
        await OnEdit.InvokeAsync(CulturalEventRowItem);
        isEditMode = false;
    }
}
